@model IEnumerable<MIS4200_SM126215.Models.Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Property.fullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monthlyRent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Property.fullAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monthlyRent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalID })
        </td>
    </tr>
}

</table>
